[submodule "vendor/FTXUI"]
	path = vendor/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI
[submodule "vendor/uWebSockets"]
	path = vendor/uWebSockets
	url = https://github.com/uNetworking/uWebSockets
[submodule "vendor/nlohmann_json"]
	path = vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/libsodium"]
	path = vendor/libsodium
	url = https://github.com/jedisct1/libsodium.git
